@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--title-1: clamp(1.5rem, 1.2672rem + 1.0345vw, 2.25rem);
	--title-2: clamp(0.875rem, 0.7974rem + 0.3448vw, 1.125rem);
	--title-3: clamp(1.5rem, 1.0345rem + 2.069vw, 3rem);
}

@layer base {
	html {
		font-family: 'Quicksand', sans-serif;
	}
}

.title-1 {
	font-size: var(--title-1);
}

.title-2 {
	font-size: var(--title-2);
}
.title-3 {
	font-size: var(--title-3);
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #a9b4bc80;
	border-radius: 15px;
	border: 1px solid transparent;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: #a9b4bc48;
}

html {
	scrollbar-color: rgba(169, 180, 188, 0.11) transparent;
	scrollbar-width: auto;
	overflow-y: scroll;
}

.animate-bounce-nav {
	animation: bounce-nav 0.55s infinite;
}

@keyframes bounce-nav {
	0%,
	100% {
		transform: translateY(0%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}

	65% {
		transform: translateY(-30%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
}

.fadein {
	opacity: 0;
	animation: 1.3s fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

div[scroll='reveal'] .reveal-img {
	-webkit-clip-path: inset(0 0 100% 0);
	clip-path: inset(0 0 100% 0);
	opacity: 0;
	scale: 0.9;
	transition:
		-webkit-clip-path 1s cubic-bezier(0.65, 0, 0.35, 1) 0.3s,
		clip-path 1s cubic-bezier(0.65, 0, 0.35, 1) 0.3s,
		opacity 1s cubic-bezier(0.65, 0, 0.35, 1) 0.3s;
	will-change: -webkit-clip-path, clip-path, opacity, scale;
}

div.reveal .reveal-img {
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
	opacity: 1;
	scale: 1;
}

div[scroll='reveal'] .reveal-text {
	opacity: 0;
	transition: opacity 0.8s cubic-bezier(0.65, 0, 0.35, 1) 1.2s;
	will-change: opacity;
}

div.reveal .reveal-text {
	opacity: 1;
}
