@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Inter', sans-serif;
	}
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #a9b4bc80;
	border-radius: 15px;
	border: 1px solid transparent;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: #a9b4bc48;
}

html {
	scrollbar-color: rgba(169, 180, 188, 0.11) transparent;
	scrollbar-width: auto;
	overflow-y: scroll;
}

.animate-bounce-nav {
	animation: bounce-nav 0.55s infinite;
}

@keyframes bounce-nav {
	0%,
	100% {
		transform: translateY(0%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}

	65% {
		transform: translateY(-30%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
}

.fadein {
	opacity: 0;
	animation: 1.3s fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
